################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArasConnector/bin/Debug
/ArasConnector/obj/Debug/TempPE
/AutocadPlugIn/bin/Debug
/AutocadPlugIn/obj/Debug
/CADController/bin/Debug
/CADController/obj/Debug
/Common/bin/Debug
/RedBracketConnector/bin/Debug
/Common/obj/Debug
/RedBracketConnector/obj/Debug
/ArasConnector/obj/Debug
/ArasConnector/obj
/AutocadPlugIn/obj/Release
/CADController/obj
/Common/obj/Release
/RedBracketConnector/obj/Release
/AutocadPlugIn/packages.config
/packages/RestSharp.106.3.0
/RedBracketConnector/packages.config
/CADController/packages.config
/ArasConnector/bin/Release
/Common/bin/Release
/RedBracketConnector.Bundle/AcCoreMgd.dll
/RedBracketConnector.Bundle/AcDbMgd.dll
/RedBracketConnector.Bundle/AcMgd.dll
/RedBracketConnector.Bundle/AcWindows.dll
/RedBracketConnector.Bundle/AdWindows.dll
/RedBracketConnector.Bundle/ArasConnector.dll
/RedBracketConnector.Bundle/AutocadPlugIn.dll
/RedBracketConnector.Bundle/CADController.dll
/RedBracketConnector.Bundle/Common.dll
/RedBracketConnector.Bundle/ExpandableGridView.dll
/RedBracketConnector.Bundle/IOM.dll
/RedBracketConnector.Bundle/Newtonsoft.Json.dll
/RedBracketConnector.Bundle/RedBracketConnector.dll
/RedBracketConnector.Bundle/RestSharp.dll
/RedBracketConnector.Bundle/stdole.dll
/RedBracketConnectorSetup/Debug
/RedBracketConnector.bundle/Contents/stdole.dll
/RedBracketConnector.bundle/Contents/RestSharp.dll
/RedBracketConnector.bundle/Contents/RedBracketConnector.dll
/RedBracketConnector.bundle/Contents/Newtonsoft.Json.dll
/RedBracketConnector.bundle/Contents/IOM.dll
/RedBracketConnector.bundle/Contents/ExpandableGridView.dll
/RedBracketConnector.bundle/Contents/Common.dll
/RedBracketConnector.bundle/Contents/CADController.dll
/RedBracketConnector.bundle/Contents/AutocadPlugIn.dll
/RedBracketConnector.bundle/Contents/ArasConnector.dll
/RedBracketConnector.bundle/Contents/AdWindows.dll
/RedBracketConnector.bundle/Contents/AcWindows.dll
/RedBracketConnector.bundle/Contents/AcMgd.dll
/RedBracketConnector.bundle/Contents/AcDbMgd.dll
/RedBracketConnector.bundle/Contents/AcCoreMgd.dll
